<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.erayt.solar2.property.editor.PropertyEditor"
            default="false"
            icon="icons/icon16png.png"
            id="com.zxy.propertyEditor"
            name="PropertyEditor">
         <contentTypeBinding
               contentTypeId="com.erayt.solar2.solarProperties">
         </contentTypeBinding>
      </editor>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.jdt.core.javaProperties"
            file-extensions="properties"
            id="com.erayt.solar2.solarProperties"
            name="Solar Properties"
            priority="high">
         <describer
               class="com.erayt.solar2.Solar2PropertiesDescriber">
         </describer>
      </content-type>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerAnnotationSpecification">
      <specification
            annotationType="com.erayt.solar2.property"
            colorPreferenceKey="solar2propertycolor"
            colorPreferenceValue="255,0,0"
            label="solar2property"
            overviewRulerPreferenceKey="solar2propertyoverview"
            symbolicIcon="error"
            textPreferenceKey="solar2propertytext"
            textStylePreferenceKey="solar2propertystyle"
            textStylePreferenceValue="UNDERLINE">
      </specification>
   </extension>
   <extension
         point="org.eclipse.core.filebuffers.annotationModelCreation">
      <factory
            class="com.erayt.solar2.property.Solar2PropertyModelFactory"
            contentTypeId="com.erayt.solar2.solarProperties">
      </factory>
   </extension>
   <extension
         id="com.solar2.property.errorMarker"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
      <hyperlinkDetector
            activate="true"
            class="com.erayt.solar2.property.Solar2PropertyHyperlinker"
            id="com.erayt.solar2.propertyHyperlinker"
            name="hyperlinkDetector"
            targetId="com.erayt.solar2.property">
      </hyperlinkDetector>
   </extension>
   <extension
         point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
      <target
            id="com.erayt.solar2.property"
            name="target">
      </target>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="com.erayt.test.category"
            name="Test">
      </category>
      <command
            categoryId="com.erayt.test.category"
            id="com.erayt.test.command"
            name="Test Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.erayt.test.command"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+5">
      </key>
   </extension>
</plugin>
